:root {

}

*{
    margin: 10px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background: hsla(10, 82%, 65%, 1);

    background: linear-gradient(90deg, hsla(10, 82%, 65%, 1) 0%, hsla(290, 79%, 13%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(10, 82%, 65%, 1) 0%, hsla(290, 79%, 13%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(10, 82%, 65%, 1) 0%, hsla(290, 79%, 13%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EF745C", endColorstr="#34073D", GradientType=1 );
    
}

header {
    margin-left: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

header h1 {
    font-weight: bold;
    margin:0;
        
}

header a {
    text-decoration: none;
    color: whitesmoke;
}

.avatar img {
    height:140px;
    width: 100px;
    border-radius: 35%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}


nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;  
}

nav a {
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    color:black;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1);
    
}

nav a:hover {
    text-size-adjust: 30px;
}


h2 {
    padding: 10px;
    margin-left: 25px;
}

h2:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.about-me li {
    margin-bottom: 10px;
}

.about-me ul {
    text-indent: 10px;
}
.projects {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    align-items: center;
   
}

.projects section {
    border-radius:  15%;
    width: 200px;
    background-color: hsla(290, 79%, 13%, .2);
    
    
}

.projects .card1 {
    width: 400px;
    
}

.projects img {
    width: 200px;
    height: 200px;
    border-radius: 15%;
    margin: 0;          
}

.projects a {
    margin: 0;
}
.projects img {
    border-radius:  15%;
    width: 200px;
}

.projects .card1 img {
    width: 400px;
    height: 380px;
}

.story {
    border-top: 1px solid purple; 
}

.story p{
    font-size: large;
}

.contact .links {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
   background-color: rgba(189, 105, 183, .1);
    
    
}
.contact a {
    text-decoration: none;
    color:hsla(290, 79%, 13%, 1)
}

